%html
  %head
    %script{ src: '/javascripts/jquery-1.9.1.min.js' }
    %script{ src: '/javascripts/Box2dWeb-2.1.a.3.min.js' }
    %script{ src: '/javascripts/jaws.js' }
    %script{ src: '/startup.js' }
    %script{ src: '/bullet.js' }
    %script{ src: '/gun.js' }
    %script{ src: '/tank.js' }
    %script{ src: '/jumper.js' }
    %script{ src: '/terrain.js' }
    %script{ src: '/hud.js' }
    %script{ src: '/item.js' }
    %script{ src: '/ld26.js' }
    %link{ rel: 'stylesheet', href: '/stylesheets/style.css' }

  %body
    %canvas#game{ width: '1000px', height: '480px' }
