%html
  %head
    %script{ src: '/javascripts/jquery-1.9.1.min.js' }
    %script{ src: '/javascripts/Box2dWeb-2.1.a.3.min.js' }
    %script{ src: '/ld26.js' }
    %link{ rel: 'stylesheet', href: '/stylesheets/style.css' }

  %body
    %canvas{ id: 'game-canvas', width: '640px', height: '480px' }
