%html
  %head
    %script{ src: '/javascripts/jquery-1.9.1.min.js' }
    %script{ src: '/javascripts/Box2dWeb-2.1.a.3.min.js' }
    :javascript
      $(document).ready(function(){
        alert(1);
      });

  %body
    %canvas{ width: '640px', height: '480px' }
